[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ansible = "==2.9.20"
awscli = "==1.15.76"
botocore = "==1.10.75"
"boto3" = "==1.7.75"
boto = "==2.49.0"
jmespath = "==0.9.3"
ansible-cmdb = "==1.28"
ansible-lint = "==3.4.23"
requests = "==2.22.0"
ipython = "*"

[requires]
python_version = "3.5"
